.newPage_wrapper {
  max-width: 960px;
  margin: 0 auto;
}

.newPage_newsContainer {
  margin-top: 40px;
}

.newPage_loadMoreButton {
  margin-top: 10px;
  height: 30px;
  font-size: 18px;
  background-color: #f7f7f7;
  border: 1px solid #000000;
  border-radius: 5px;
  cursor: pointer;
}
